---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<RECIPE_APP_ID>&app_key=<RECIPE_KEY>&from%20=0&q=&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "to" : [ "100" ],
            "q" : [ "" ],
            "app_id" : [ "<RECIPE_APP_ID>" ],
            "app_key" : [ "<RECIPE_KEY>" ],
            "from " : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 05 May 2017 21:09:10 GMT
recorded_with: VCR 3.0.3
