<h1>LIST OF RECIPES</h1>

<div class="row">
    <% @recipes_paginate.each do |recipe| %>
    <ul class="item">
        <div class="small-12 medium-6 columns">
            <li>
                <%= image_tag recipe.image %>
            </li>
            <li>
                <%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %>
            </li>
        </div>
    </ul>
    
    <% end %>
</div>


<div id="pages">
    <ul>
        <li>
            <%= will_paginate @recipes_paginate %>
        </li>
    </ul>
</div>
