<h1>LIST OF RECIPES</h1>
<% @recipes_paginate.each do |recipe| %>
    <ul>
        <li>
            <%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %>
            <%= image_tag recipe.image %>
        </li>
    </ul>

<% end %>

<%= will_paginate @recipes_paginate %>
