<h1>LIST OF RECIPES</h1>


<div class="row">
    <p class="small-12 medium-6 columns"> WORKA</p>
    <p class="small-12 medium-6 columns"> WORK B</p>
    <p class="small-12 medium-6 columns"> WORK C</p>
  </div>
<% @recipes_paginate.each do |recipe| %>
<div class="row">
    <ul class="item">
        <div class="small-12 medium-6 columns">
            <li>
                <%= image_tag recipe.image %>
            </li>
            <li>
                <%= link_to recipe.name, recipe_path(:name => recipe.name, :uri => recipe.uri) %>
            </li>
        </div>
    </ul>

    <% end %>
</div>


<div>
    <ul>
        <li>
            <%= will_paginate @recipes_paginate %>
        </li>
    </ul>
</div>
